<a href="https://colab.research.google.com/github/firstnapat/Python-Programming-Datarockie-Batch5/blob/main/Live_10_Python_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python End to End (Batch 5)
Contents:
- Variable
- Data Type
- Data Structure
- Function
- Control Flow
- OOP(Object Oriented Programming)

In [7]:
# basic computation
print(1 + 1)
print(1 - 1)
print(2 * 2)
print(2 / 2)
print(5 // 2) # floor division
print(5 % 2) # modulo

2
0
4
1.0
2
1

In [9]:
# variable
income = 50000
expense = 28000
saving = income - expense
print(saving)

22000

In [10]:
del saving
print(saving)

NameError: ignored

In [14]:
# string variable
my_name = 'toy' # 'toy'
my_age = 33

In [17]:
print('hello', my_name, "and I'm", my_age, "years old.")

hello toy and I'm 33 years old.

In [18]:
# f-string
text = f"Hello! my name id {my_name} and I'm {my_age} years old."

In [19]:
print(text)

Hello! my name id toy and I'm 33 years old.

In [20]:
# type hinting
# สรุปคือเอาไว้ใบ้เฉยๆว่าเป็นประเภทอะไรไม่ได้ตั้งเป็น default
# int float str bool

In [30]:
name: str = "toy"
age: int = 24
gpa: float = 3.52
movie_lover: bool = True

In [31]:
print(type(name))
print(type(age))
print(type(gpa))
print(type(movie_lover))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [32]:
name = "toy"
isinstance(name, str)

True

In [34]:
gpa = 2.8
isinstance(gpa, str)

False

# Function

In [36]:
# create your own function

In [37]:
def greeting():
    print("hello world")

In [38]:
greeting()

hello world

In [50]:
def greeting_name(name, city="London"):
    print(f"Hello! {name}. We live in {city}.")

In [41]:
name = "toy"
greeting_name(name)

Hello! toy.

In [51]:
greeting_name(name="John")

Hello! John. We live in London.

In [52]:
# get input from user
# input() get string input

In [57]:
def greeting_name2():
    name = input("What's your name? ")
    print(f"Greeint {name}!")

In [60]:
greeting_name2()

What's your name? Toy
Greeint Toy!

In [64]:
# lambda function
def add_two_nums(a, b):
    return a + b
result = add_two_nums(10, 200)
print(result)

210